<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let reciepe of reciepes">
            <div class="pull-left">
                <h4 class="List-group-item-heading">{{reciepe.name}}</h4>
                <p class="List-group-item-text">{{reciepe.description}}</p>
            </div>
            <span class="pull-right">
                <img src={{reciepe.imagepath}} 
                alt="{{reciepe.name}}" 
                class="img-responsive" style="max-height: 70px;">
            </span>
        </a>
        <app-reciepe-item></app-reciepe-item>
    </div>
</div>

